.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.blocked-image{
  max-width:120px;
  margin: 0px auto;
}
.blocked-image:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.user-title {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.card-body a{
  text-decoration: none;
}

   @media only screen and (min-width : 320px) and  (max-width : 479px) {
       .w-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48% !important;
          flex: 0 0 48% !important;
       max-width: 48%;
       margin:1%;
}
    }


    @media only screen and (min-width : 480px) and  (max-width : 767px) {
 .w-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48% !important;
          flex: 0 0 48% !important;
  max-width: 48%;
   margin:1%;
}
    }


    @media only screen and (min-width : 768px) and  (max-width : 991px) {
 .w-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31% !important;
          flex: 0 0 31% !important;
  max-width: 31%;
   margin:1%;
}
    }


    @media only screen and (min-width : 992px)  and  (max-width : 1199px){
.w-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23% !important;
          flex: 0 0 23% !important;
  max-width: 23%;
   margin:1%;
}
    } 


    @media only screen and (min-width : 1200px) and  (max-width : 1800px) {
 .w-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18% !important;
          flex: 0 0 18% !important;
  max-width: 18%;
   margin:1%;
}
    }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
